$drawer-width: 240px;
$app-bar-background-color: #323232;
$main-color: #323232;

.container {
  display: flex;

  & .MuiAppBar-root {
    background-color: $app-bar-background-color;
  }
}

.mainContent {
  flex-grow: 1;
  padding: 16px;
  margin-left: $drawer-width;

  @media (max-width: 600px) {
    margin-left: 0;
  }
}

.appBar {
  width: calc(100% - #{$drawer-width});
  margin-left: $drawer-width;

  @media (max-width: 600px) {
    width: 100%;
    margin-left: 0;
  }
}

.drawer {
  .MuiDrawer-paper {
    box-sizing: border-box;
    width: $drawer-width;
  }

  & .MuiListItem-root {
    & .MuiListItemIcon-root {
      min-width: 40px;
    }
    & .MuiTypography-root {
      color: $main-color;
    }
  }
}
