@import "../styles/variables.scss";

.container {
  display: flex;

  & .MuiAppBar-root {
    background-color: $app-bar-background-color;
  }
}

.mainContent {
  flex-grow: 1;
  padding: 16px;
  margin-left: $drawer-width;

  @media (max-width: 600px) {
    margin-left: 0;
  }
}

.appBar {
  width: calc(100% - #{$drawer-width});
  margin-left: $drawer-width;

  @media (max-width: 600px) {
    width: 100%;
    margin-left: 0;
  }
}

.drawer {
  .MuiDrawer-paper {
    box-sizing: border-box;
    width: $drawer-width;
    background-color: $app-bar-background-color;
    color: #ffffff;

    & .MuiDivider-root {
      border-color: #4b4b4b;
    }

    ul {
      a {
        color: #ffffff;
        color: white;
        text-decoration: none;
        padding: 10px 15px;
        display: block;
        display: flex;
        align-items: center;
        gap: 10px;

        &.active {
          background-color: #ffffff;
          color: $main-color;
        }
      }
    }
  }
}
