@import "../../styles/variables.scss";

.homepage-wrapper {
  & .card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    border: 1px solid $border-color;
    border-radius: 3px;
    color: $main-color;
    min-height: 205px;

    &[data-room-is-available="true"] {
      & .card-body {
        cursor: pointer;

        &:hover {
          & .edit-icon-wrapper {
            opacity: 1;
            background-color: #80808021;
          }
        }
      }
    }

    & .edit-icon-wrapper {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;

      svg {
        font-size: 45px;
        color: #f5f5f5;
        background: rgba($main-color, 0.8);
        border-radius: 50%;
        padding: 10px;

        &:hover {
          background: rgba($main-color, 1);
        }
      }
    }

    & .MuiButtonBase-root {
      font-size: 11px;
      width: 100%;

      text-transform: capitalize;
    }

    & .card-title {
      display: flex;
      gap: 10px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.07);
      padding: 10px;
      width: 100%;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    & .card-body {
      height: 100px;
      background: #f5f5f5;
      width: 100%;
      border-radius: 3px;
      text-align: center;
      font-size: 12px;
      justify-content: center;
      align-items: center;
      display: flex;
      margin-bottom: 10px;
      flex-direction: column;
      position: relative;

      & .reservation-info {
        & .reservation-name {
          font-weight: 600;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 5px;

          svg {
            width: 15px;
            color: darkgreen;
          }
        }
      }
    }

    & .date {
      background-color: #66bb6a;
      color: white;
      width: 90%;
      border-radius: 3px;
      font-size: 12px;
      text-align: center;

      &[data-last-day="1"] {
        background: #ee1717;
      }
    }
  }
}

.homepage-empty-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;

  .bedroom-icon {
    font-size: 3rem;
    color: $main-color;
  }

  .text {
    margin: 10px 0 15px 0;
  }

  & .MuiButton-root {
    min-width: 170px;
  }
}
